:root {
    --color-primary: #2c2b4b;
    --color-secondary: #f8dcb4;
    --color-tertiary: #9c7a9d;
    --color-button: #a75293;
    --color-button-hover: #9ddacb;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Sección donde esta la imágen de confeti del fondo*/
.decoration_background {
    position: absolute;
    /* Mantiene la sección como referencia para los elementos hijos */
    display: flex;
    width: 100%;
    height: 100vh;
    /* Ajusta la altura al viewport */
    z-index: 0;
    pointer-events: none;

}

/*Tamaño de cada imagen de confeti*/
.decoration_fondo {
    width: 30%;
    position: absolute;
    opacity: 70%;

}

/* Posicionando las imágenes de confeti en las esquinas */
.decoration_fondo:nth-child(1) {
    top: 0;
    left: 0;
}

.decoration_fondo:nth-child(2) {
    top: 0;
    right: 0;
}

.decoration_fondo:nth-child(3) {
    bottom: 0;
    left: 0;
}

.decoration_fondo:nth-child(4) {
    bottom: 0;
    right: 0;
}



body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Sección de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 60px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

.section-list {

    font-family: "Inter", serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-primary);
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;

}


/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botón */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* Listas */
/*Va a funcionar e imprimir cuando la función visualizarLista() en javascript genere un elemento li en ella*/

ul:has(li) {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;

    margin-bottom: 20px;
    width: 15%;
    padding: 0.5%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10.5px;
    border: 5px solid var(--color-primary);
    border-radius: 20px;
    background-color: var(--color-secondary);

}

/*CARACTERÍSTICAS DE MI VENTANA QUE AVISA EL AMIGO SECRETO*/
.aviso_amigo_secreto {
    width: 35%;
    height: 180px;
    border: 10px solid var(--color-primary);
    border-radius: 20px;
    background-color: var(--color-tertiary);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5%;
    gap: 30px;
}

/*GARANTIZA QUE CUANDO ESTE DESHABILITADO APARTE NO SE MUESTRE EN PANTALLA*/
.aviso_amigo_secreto:disabled {
    display: none;
}

/*LETRA DE MI AVISO*/
.contenido_aviso_amigo_secreto {
    color: var(--color-white);
    font-family: "Inter", sans-serif;
    font-size: 30px;
    margin-top: 40px;
    font-weight: bold;

}

/*BOTON SIGUIENTE LUEGO DE MI AVISO*/
.button-advice {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
}

.button-advice:hover {
    background-color: var(--color-button-hover);
}


.result-list {
    margin-top: 15px;
    color: #05DF05;
    font-size: 22px;
    font-weight: bold;
    text-align: center;

}

/* Botón de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;

}

/*TAMAÑO DE IMÁGEN DE LA LIBRERIA ONLINE PARA LOS BOTONES DE SIGUIENTE Y REINICIAR LISTA*/
i {
    font-size: 30px;
    margin-right: 40px;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

button:disabled {
    background-color: var(--color-text);
    cursor: not-allowed;

}